.wrap{
	background: chocolate;
	width: 900px;
	margin: 10px auto;
}
 
.wrap .header{
	background: pink;
	padding: 2px 10px;
}
 
.wrap .menu{
	background: violet;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: chocolate;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}

.wrap .badan .sidebar{
	background: grey;
	float: left;	
	width: 25%;
	height: 100%;
}
 
.wrap .badan .content{
	background: green;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}